---

---
<label class="menu-button" for="menu-toggle">
  <div></div>
<div></div>
<div></div>
</label>


<style>
  div {
    width: 24px;
    height: 4px;
    background-color: var(--main);
    margin: 4px 0;
  }
</style>
