---
import BurgerMenuIcon from "../components/BurgerMenuIcon.astro";
import "../styles/global.css";
interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <nav>
      <section>
        <a href="/" class="navigation-title">Ivan's personal website</a>
        <input id="menu-toggle" type="checkbox" />
        <BurgerMenuIcon />
        <ul class="menu">
          <li><a href="/about">About me</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </section>
    </nav>
    <main>
      <div class="content">
        <slot />
      </div>
    </main>
    <footer><section>© 2024 Ivan · Powered by <a href="https://astro.build">Astro</a>.</section></footer>
  </body>
</html>
<style is:global>
  nav {
    height: 36px;
    margin: 12px 0;
    padding: 0 16px;
    display: flex;
    justify-content: center;
  }

  nav section {
    display: block;
    width: 100%;
    max-width: var(--content-width);
  }

  nav .navigation-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
  }

  nav input#menu-toggle {
    display: none;
  }

  nav .menu-button {
    float: right;
  }

  nav ul {
    position: relative;
    list-style: none;
    font-size: 18px;
    margin-top: 12px;
    padding: 0;
    opacity: 0;
    transition: opacity 0.1s linear;
    background-color: var(--bg);
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--border);
  }

  nav #menu-toggle:checked ~ ul {
    opacity: 1;
  }

  .content {
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  nav ul li {
    margin: 16px 0;
    display: flex;
    justify-content: center;
  }

  footer {
    padding: 8px;
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    nav .navigation-title {
      font-size: 22px;
    }
    nav .menu-button {
      display: none;
    }
    nav ul {
      float: right;
      display: flex;
      column-gap: 16px;
      justify-content: space-between;
      opacity: 1;
      transition: none;
      margin: 0;
      border: 0;
    }
    nav ul li {
      font-size: 22px;
      margin: 0;
    }
  }
</style>
